# Git
.git
.gitignore

# Python/Dependencies
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
venv/
.env

# Project specific
DATASET/
best_model.h5
training_history.png
confusion_matrix.png
*test_req.py
